DirectoryIndex fr/index.html

ExpiresActive on
ExpiresByType image/png "access plus 11 month"
ExpiresByType image/gif "access plus 11 month"
ExpiresByType image/jpeg "access plus 11 month"
ExpiresByType image/jpg "access plus 11 month"
ExpiresByType image/webp "access plus 11 month"
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"